html,
body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    justify-content: center;
    background-color: #223843;
    height: calc(100vh - 48px);
}

nav {
    background-color: #0b58ad;
    width: 100vw;
    height: 48px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 20px;
}

nav>* {
    margin: 0 5px;
}

#loginedUsername {
    margin: 0;
    color: #fff;
}

#left {
    width: 300px;
    height: 100%;
    position: relative;
}

#right {
    width: 728px;
    height: 100%;
    background-color: #eff1f3;
}

iframe {
    height: 100%;
    width: 100%;
}

.btn-outer {
    width: 100%;
    position: absolute;
    bottom: 3vh;
    left: 0;
}

.btn-outer>* {
    margin-inline: auto;
    margin: 10px auto 0 auto;
}

#reload_btn {
    display: block;
}

.fixed-page {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #000000aa;
    width: 100vw;
    height: 100vh;
}

.fixed-page iframe {
    border-radius: 0.3rem;
    width: 728px;
    height: 80vh;
    margin: 10vh calc(50vw - 300px);
    box-shadow: 5px 5px 20px #00000080;
}

.fixed-page-btn-outer {
    position: absolute;
    top: 10px;
    right: 10px;
}

#create_btn {
    display: none;
}